{% comment %} {% extends "layout.html" %}
{% block topNav %} {% endcomment %}
<div class="header-box ">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-2">
                <li class="nav-item active col-8">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-expand"></i>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 user-info" >
                <i class="fa-regular fa-bell px-5"></i>
                {% comment %} <i class="fa-solid fa-user px-3 py-4"></i> {% endcomment %}
                <i class="fa-regular fa-user px-3 py-3"></i>
                <span>Mohan</span>
                <i class="fa-solid fa-right-from-bracket px-3 py-3"></i>
            </form>
        </div>
    </nav>
</div>
{% comment %} {% endblock  %} {% endcomment %}