{% extends "layout.html" %}
{% block content %}
{% comment %} <div class="col title ">
    <h2>
        <i class="fa-solid fa-house-laptop"></i>
        Minimal Dashboard
    </h2>
    <div class='row'>
        <div class="col-10 pb-4">
            <i class="fa-solid fa-house-user"></i>
            <span> / </span> 
            <span>Dashboard</span>
            <span> / </span> 
            <span>Minimal Dashboard Example</span>
        </div>
        <div class="col-2 text-right">
            <div class="input-group mb-3 optionSelect">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            <div>
            <i class="fa-solid fa-toggle-off p-2"></i>
        </div>
    </div>
</div> {% endcomment %}
<div class="col">
    <div class="row py-3">
        <div class="col-4">
            <div class="col item item-1">
                <div class="row">
                    <div class="col-10 p-0">
                        <p>Total Target</p>
                        <h3>Rs. 21000/ Rs.0</h3>
                    </div>
                    <div class="col-2 p-0">
                        <i class="fa-regular fa-money-bill-1"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col item item-2">
                <div class="row">
                    <div class="col-10 p-0">
                        <p>Month Metalized</p>
                        <h3>3</h3>
                    </div>
                    <div class="col-2 p-0">
                        <i class="fa-solid fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col item item-3">
                <div class="row">
                    <div class="col-10 p-0">
                        <p>Total Call Back</p>
                        <h3>0</h3>
                    </div>
                    <div class="col-2 p-0">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="row">
        <div class="col">
            <div class="col content">
                <div class="row">
                    <div class="col py-3">
                        <h6>My Client(Today)</h6>
                    </div>
                    <div class="col py-3">
                        <button class="btn btn-info"><i class="fa-solid fa-user-plus"></i> Add New Client</button>
                    </div>
                    <div class="col">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col content">
                <div class="row">
                    <div class="col py-3">
                        <h6>Client Transfered To Me (Today)</h6>
                    </div>
                    <div class="col">
                        {% comment %} <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>hello</td>
                                </tr>
                            </tbody>
                        </table> {% endcomment %}
                        {% comment %} <table class="table" id="dataTable">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><th scope="row">1</th><td>Mark</td><td>Active</td><td>@mdo</td><td>hello</td></tr>
                                <tr><th scope="row">2</th><td>Tom</td><td>Inactive</td><td>@tom</td><td>hello</td></tr>
                                <tr><th scope="row">3</th><td>Anna</td><td>Active</td><td>@anna</td><td>hello</td></tr>
                                <tr><th scope="row">4</th><td>John</td><td>Inactive</td><td>@john</td><td>hello</td></tr>
                                <tr><th scope="row">5</th><td>Sara</td><td>Active</td><td>@sara</td><td>hello</td></tr>
                                <tr><th scope="row">6</th><td>Mike</td><td>Active</td><td>@mike</td><td>hello</td></tr>
                                <tr><th scope="row">7</th><td>Lilly</td><td>Inactive</td><td>@lilly</td><td>hello</td></tr>
                                <tr><th scope="row">8</th><td>Robert</td><td>Active</td><td>@robert</td><td>hello</td></tr>
                                <tr><th scope="row">9</th><td>David</td><td>Inactive</td><td>@david</td><td>hello</td></tr>
                                <tr><th scope="row">10</th><td>Priya</td><td>Active</td><td>@priya</td><td>hello</td></tr>
                                <tr><th scope="row">11</th><td>Alan</td><td>Inactive</td><td>@alan</td><td>hello</td></tr>
                                <tr><th scope="row">12</th><td>Neha</td><td>Active</td><td>@neha</td><td>hello</td></tr>
                                <tr><th scope="row">13</th><td>Steve</td><td>Inactive</td><td>@steve</td><td>hello</td></tr>
                                <tr><th scope="row">14</th><td>Karishma</td><td>Active</td><td>@karishma</td><td>hello</td></tr>
                                <tr><th scope="row">15</th><td>Farhan</td><td>Active</td><td>@farhan</td><td>hello</td></tr>
                            </tbody>
                        </table> {% endcomment %}
                        <table class="table table-bordered table-striped" id="dataTable">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                    <th scope="row">{{ customer.id }}</th>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.status }}</td>
                                    <td>{{ customer.handle }}</td>
                                    <td>{{ customer.action }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination justify-content-center" id="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}